.demo-inline-wrapper {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
}

    .demo-inline-wrapper:not(:last-child) {
        margin-right: 30px;
    }

    .demo-inline-wrapper .form-group {
        margin: 0;
    }

.btn-demo > .btn,
.btn-demo > .btn-group {
    margin: 0 5px 10px 0;
}

.color-demo {
    color: #fff;
    padding: 1rem;
    border-radius: 2px;
    display: block
}

.color-demo--light {
    color: #5E5E5E;
}

.color-demo__color {
    text-transform: uppercase;
    font-weight: 500;
}

.color-demo__hex {
    margin: 0.4rem 0;
}

.animation-demo .row {
    margin: 1.9rem -0.76rem 0;
}

.animation-demo .col-sm-6 {
    padding: 0 0.76rem;
    margin-bottom: 0.9rem;
}

.animation-demo .card-body {
    padding-bottom: 1.15rem;
}

    .animation-demo .card-body > img {
        position: relative;
        width: 100%;
        z-index: 1;
        border-radius: 2px;
        box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
    }

    .animation-demo .card-body .btn {
        width: 100%;
    }

.animation-demo .nav-tabs {
    margin: -1rem -2.2rem 2rem;
}

.animation-demo .tab-content {
    padding: 0;
}

.icons-demo__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    cursor: pointer;
}

    .icons-demo__item:hover {
        background-color: rgba(255,255,255,0.06);
    }

    .icons-demo__item > i {
        font-size: 2rem;
        margin-right: 1.5rem;
        position: relative;
        top: -0.1rem;
    }

.card-demo {
    vertical-align: top;
    max-width: 400px;
    width: 100%;
    margin: 0 30px 0 0;
    display: inline-block;
}

.dropdown-demo {
    margin: 10px 10px 0 0;
    display: inline-block;
}

.modal-demo {
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 3rem;
}

    .modal-demo .modal {
        z-index: 0;
        position: relative;
        display: block;
    }

.rating-demo .rating {
    margin: 10px 20px 10px 0;
}

.toast-demo-container {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    position: relative;
    min-height: 180px;
    padding: 2rem;
}

.toast--right,
.toast--bottom-right,
.toast--bottom-left {
    position: absolute;
    min-width: 300px;
}

.toast--right {
    top: 2rem;
    right: 2rem;
}

.toast--bottom-right {
    bottom: 2rem;
    right: 2rem;
}

.toast--bottom-left {
    bottom: 2rem;
    left: 2rem;
}

.jqvmap {
    height: 300px;
}
