.dummy {
}

.navigation-trigger {
    font-size: 40px;
    width: 70px;
}

.top-nav > li > a:not(.header__nav__text) {
    min-width: 70px;
}

    .top-nav > li > a:not(.header__nav__text) > i {
        font-size: 40px;
    }

::deep .system-notifications {
    width: 500px;
}

    ::deep .system-notifications .dropdown-header {
        font-size: 20px;
    }

    ::deep .system-notifications .listview__item > i {
        font-size: 30px;
    }

    ::deep .system-notifications .listview__heading {
        font-size: 20px;
    }

        ::deep .system-notifications .listview__heading small {
            font-size: 17px;
        }

    ::deep .system-notifications .listview__content p {
        font-size: 20px;
        white-space: normal;
    }

    ::deep .system-notifications .listview__content small {
        font-size: 17px;
    }

.unhandled-error-notification {
    font-size: 20px;
}

