@page "/Status404"

@inherits AppPage

<PrinterPageTitle Image="/_content/SLS4All.Compact.AppCore/ui/img/main-home.png" IsFullPage="true" />

<div class="printing-notification">
    <p>
        <span class="badge badge-dark text-wrap">
            <i class="bi bi-exclamation-triangle" /> The requested page was not found.
        </span>
    </p>
    <p>
        <a class="btn btn-theme" href="@IndexPage.SelfPath">Go to the home page instead</a>
    </p>
</div>
