.vs
.vscode
/packages
/*/bin
/*/obj
/*/*.csproj.user
/YourSelf.Blazor.Diagrams.App/SessionLogs
*.user
/*/node_modules
/node_modules
/*/wwwroot/bundles
/*/wwwroot_embedded/bundles
/*/logs
/**/package-lock.json
/SLS4All.Compact.AppCore/wwwroot/vendors/bootstrap-icons/**
/SLS4All.Compact.AppCore/tsconfig.tsbuildinfo
/SLS4All.Compact.PrinterApp/appsettings.Development.user.toml
/SLS4All.Compact.PrinterApp/Dumps
/SLS4All.Compact.McuApp/appsettings_mcuapp.Development.user.toml
