@using SLS4All.Compact.Components
@using SLS4All.Compact.Pages
@inherits AppPage

<PrinterPageTitle Image="/_content/SLS4All.Compact.AppCore/ui/img/main-home.png" IsFullPage="true" />

<h1>
    This is a new HOME page from a plugin!
</h1>

