.dummy {
}

.safe-button-on {
    background: repeating-linear-gradient( 45deg, transparent 0px, transparent 5px, #f005 5px, #f005 10px );
    background-size: 800% 800%;
    animation: pulsate-safe 60s linear infinite;
}

@keyframes pulsate-safe {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.main-title-image {
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 9px;
}

.main-title-icon {
    font-size: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 9px;
    margin: 0px;
}

.page-name-version {
    padding-right: 8px;
}

.page-name-small {
    font-size: 15px;
}
