.dummy {
}

.status-button {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

    .status-button.disabled-button {
        opacity: 25%;
        cursor: inherit;
    }

@media (hover: hover) {
    .status-button:hover:not(.disabled-button) {
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.01);
    }
}

.status-button:active:not(.disabled-button) {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.1);
}
