.camera-view {
}

    .camera-view .light-control-container {
        height: 0px;
        z-index: 100;
    }

        .camera-view .light-control-container button {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 5px;
            opacity: 50%;
        }

    .camera-view .video-image-container {
        height: 0px;
        flex-grow: 1;
        background-color: black;
    }

        .camera-view .video-image-container .video-image {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            display: block;
            -webkit-box-shadow: 0 0 15px #0007;
            box-shadow: 0 0 15px #0007;
            object-fit: contain;
            height: 100%;
        }
