.dummy {
}

.editor-content {
    width: 100%;
    height: 100%;
    min-height: 1em;
    background: #00000020;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid #00000030;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    color: inherit;
    text-align: inherit;
    cursor: pointer;
}

    .editor-content.editor-content-error {
        border: 1px solid #ff00007f;
        background: #ff00003a;
    }

    .editor-content:focus {
        border: 1px dashed #80808030;
    }



.value-container {
    font-family: 'AurulentSans', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

    .value-container .value-title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .value-container .value-subtitle {
        font-size: 17px;
        color: #B0B0B0;
        margin-bottom: 10px;
        font-weight: normal;
        white-space: normal;
        text-align: left;
        line-height: 20px;
    }

    .value-container .value-error {
        width: 100%;
        /*color: #dc3545;*/
        margin-top: 10px;
        /*font-weight: bold;*/
        font-style: italic;
        white-space: pre-wrap;
        margin-left: 0px;
        margin-right: 0px;
    }

    .value-container .value-form {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 15px;
        margin-bottom: 4px;
    }

        .value-container .value-form .box-input {
            font-family: 'AurulentSans', sans-serif;
            border-radius: 4px;
            background: #0005;
            color: #fff;
            width: 100%;
            font-size: 20px;
            border: none;
            -webkit-box-shadow: 0 0 15px #fff7;
            box-shadow: 0 0 15px #fff7;
            margin-right: 5px;
            margin-top: auto;
            margin-bottom: auto;
            text-align: left;
        }

            .value-container .value-form input::-moz-selection { /* Code for Firefox */
                background: gray;
            }

            .value-container .value-form input::selection {
                background: gray;
            }

.value-choices {
    width: 100%;
    text-align: center;
}

    .value-choices .list-group-item {
        border-top: 1px solid #fff2;
        border-bottom: 1px solid #fff2;
        margin-bottom: -1px;
    }

        .value-choices .list-group-item.active {
            background: #0005;
            border: 1px solid #fffa;
        }

    .value-choices .value-choices-default {
    }

    .value-choices .value-choices-item {
    }

.box-readonly-input {
    padding: 8px 13px 8px 13px;
    white-space: pre-wrap;
}