@charset "UTF-8";

@font-face {
    font-family: 'AurulentSans';
    font-style: normal;
    font-weight: normal;
    src: url("../ui/fonts/AurulentSans-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: normal;
    src: url("../ui/fonts/Audiowide-Regular.ttf") format("opentype");
}

[data-sa-theme] {
    -webkit-transition: background 300ms;
    transition: background 300ms;
}

@media (min-width: 576px) {
    [data-sa-theme] {
        background-size: 100% 100%;
        background-attachment: fixed;
        background-position: center;
    }
}

[data-sa-theme="1"] {
    background-color: #772036;
}

[data-sa-theme="1"] {
    background-image: url("../img/bg/1.jpg");
}

[data-sa-theme="2"] {
    background-color: #273C5B;
}

[data-sa-theme="2"] {
    background-image: url("../img/bg/2.jpg");
}

[data-sa-theme="3"] {
    background-color: #174042;
}

[data-sa-theme="3"] {
    background-image: url("../img/bg/3.jpg");
}

[data-sa-theme="4"] {
    background-color: #383844;
}

[data-sa-theme="4"] {
    background-image: url("../img/bg/4.jpg");
}

[data-sa-theme="5"] {
    background-color: #49423F;
}

[data-sa-theme="5"] {
    background-image: url("../img/bg/5.jpg");
}

[data-sa-theme="6"] {
    background-color: #5e3d22;
}

[data-sa-theme="6"] {
    background-image: url("../img/bg/6.jpg");
}

[data-sa-theme="7"] {
    background-color: #234d6d;
}

[data-sa-theme="7"] {
    background-image: url("../img/bg/7.jpg");
}

[data-sa-theme="8"] {
    background-color: #3b5e5e;
}

[data-sa-theme="8"] {
    background-image: url("../img/bg/8.jpg");
}

[data-sa-theme="9"] {
    background-color: #0a4c3e;
}

[data-sa-theme="9"] {
    background-image: url("../img/bg/9.jpg");
}

[data-sa-theme="10"] {
    background-color: #7b3d54;
}

[data-sa-theme="10"] {
    background-image: url("../img/bg/10.jpg");
}